.SignIn {
  display: flex;
  align-items: center;
  height: 100%;
  .Image,
  .SignInSignUp {
    width: 50%;
    max-width: 100%;
    padding: 2rem;
    button {
      display: inline-block;
      font-size: 1rem;
      font-family: inherit;
      font-weight: 700;
      padding: 0.5rem 2rem;
      margin-right: 1rem;
      //   width: 100%;
      border: 2px solid #87b5dc;
      // background: #0f162d;
      // background: transparent;
      background: #0f162d;
      //   color: #87b5dc;
      color: white;
      border-radius: 2rem;
      cursor: pointer;
      transition: 0.3s all cubic-bezier(0, 0, 0.2, 1);
      outline: none;
      margin-bottom: 1rem;
      svg {
        transform: translateY(2px);
      }
      &:hover,
      &:focus {
        background: #0f162d;
        // color: #0f162d;
        border-color: white;
        color: white;
        padding: 0.5rem 2.5rem;
      }
    }
  }
  .SignInSignUp {
    width: 24rem;
    .subtext {
      font-size: 1.5rem;
      margin-top: 0;
      font-weight: 700;
      border-bottom: 3px solid #87b5dc;
      padding-bottom: 0.5rem;
    }
    .Form {
      //   > div {
      //     margin-bottom: 1rem;
      //   }
      > div {
        position: relative;
        margin-bottom: 1.5rem;
      }
      label,
      input {
        display: block;
      }
      input {
        padding: 1rem;
        border: 0;
        width: 100%;
        max-width: 100%;
        border-radius: 2px;
        font-size: 1.25rem;
      }
      label {
        z-index: 1;
        transition: 0.3s all cubic-bezier(0, 0, 0.2, 1);
        color: #666;
        padding: 0.5rem 1rem;
        // transform: translate(0, -3rem);
        user-select: none;
        pointer-events: none;
        height: 0;
        position: absolute;
        bottom: 2rem;
        left: 0;
      }
      input:focus + label,
      input.not-empty + label {
        // transform: translate(-1rem, -5.5rem);
        color: white;
        pointer-events: all;
        bottom: 4rem;
        font-size: 0.75rem;
        left: -1rem;
      }
    }
  }

  .Image {
    text-align: right;
    svg {
      pointer-events: none;
      max-width: 100%;
      width: 24rem;
    }
  }
  .SignInSignUp {
  }
}
