.SymbolTitle {
  // font-family: "Bungee", sans-serif;
  font-size: 2rem;
  // color: #c5c6c7;
  color: white;

  .Name {
    color: #87b5dc;
    margin-left: 1rem;
  }

  // #SymbolViewStockPrice {
  //   margin-left: 2rem;
  //   .Price {
  //     font-weight: 700;
  //   }
  //   .DayChange {
  //   }
  //   .DayChangePercent {
  //     // margin-left: 0.5rem;
  //   }
  //   .DayChange,
  //   .DayChangePercent {
  //     font-size: 1.25rem;
  //     svg {
  //       transform: translate(1px, 2px);
  //     }

  //     &.up {
  //       color: #4af17e;
  //     }
  //     &.down {
  //       color: #ff4444;
  //     }
  //   }
  // }
}
