.StockTile {
  padding: 0.5rem;
  border: 1px solid #1f2a50;
  border-radius: 0.25rem;
  height: 7rem;
  color: white;
  width: 14rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  transition: 0.3s all cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);

  &.marked {
    opacity: 0.5;
    // transform: scale(1) !important;
    // filter: grayscale(1);
  }

  &.AddNewStock {
    text-align: center;
    cursor: pointer;

    .Text {
      color: #87b5dc;
      font-size: 0.75rem;
      text-transform: uppercase;
      position: absolute;
      width: 100%;
      top: 1rem;
      left: 0;
      transition: 0.3s all cubic-bezier(0, 0, 0.2, 1);
      opacity: 0;
    }
    .Icon {
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #87b5dc;
      transition: 0.3s all cubic-bezier(0, 0, 0.2, 1);
    }

    &:hover {
      .Icon {
        color: white;
        // transform: translate(-50%, -50%) scale(1.25);
      }
      .Text {
        color: white;
        opacity: 1;
      }
    }
  }

  &:hover {
    background: #1f2a50;
    // transform: translateY(-0.25rem);
    transform: scale(1.1);
    z-index: 1;

    .DeleteStock {
      opacity: 1;
    }

    .DayChange {
      opacity: 1;
      // transform: translateY(0);
    }
    // .DayChangePercent {
    //   opacity: 0;
    //   transform: translateY(-1rem);
    // }
  }

  .StockCode {
    // color: #45a29e;
    color: #87b5dc;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .StockName {
    color: #446e90;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 7rem;
  }
  .Price {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
  }
  .DayChange,
  .DayChangePercent {
    position: absolute;
    right: 0;
    padding: 0.25rem 0.5rem;
    transition: 0.3s all cubic-bezier(0, 0, 0.2, 1);

    svg {
      transform: translate(1px, 2px);
    }

    &.up {
      color: #4af17e;
    }
    &.down {
      color: #ff4444;
    }
  }
  .DayChange {
    top: 3rem;
    opacity: 0;
    // transform: translateY(-1rem);
  }
  .DayChangePercent {
    top: 2rem;
    // opacity: 1;
    // transform: translateY(0);
  }
  .DeleteStock {
    user-select: none;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    opacity: 0;
    color: #87b5dc;
    transition: 0.3s all cubic-bezier(0, 0, 0.2, 1);
    // https://yoksel.github.io/url-encoder/
    // cursor: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='%23ffffff' stroke-width='0' viewBox='0 0 12 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M11 2H9c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1H2c-.55 0-1 .45-1 1v1c0 .55.45 1 1 1v9c0 .55.45 1 1 1h7c.55 0 1-.45 1-1V5c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm-1 12H3V5h1v8h1V5h1v8h1V5h1v8h1V5h1v9zm1-10H2V3h9v1z'%3E%3C/path%3E%3C/svg%3E"),
    // pointer;
    cursor: pointer;
    .text {
      pointer-events: none;
      opacity: 0;
      transition: 0.3s all cubic-bezier(0, 0, 0.2, 1);
      font-size: 0.75rem;
      text-transform: uppercase;
      width: 0;
      overflow: hidden;
      display: inline-block;
      color: white;
      transform: translateX(1rem);
    }
    &:hover {
      color: white;
      .text {
        pointer-events: all;
        opacity: 1;
        width: auto;
        transform: translateX(0);
      }
    }
  }
}
